<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="{{ url_for('static', filename='assets/ncs_logo.png') }}" width="50" height="50" class="d-inline-block align-center" alt="">
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">{{basename}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <a class="nav-link" href={{ url_for('index') }}>Home</a>
            <a class="nav-link" href={{ url_for('table') }}>Table</a>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Projects
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href={{ url_for('projects.portfolio') }}>Portfolio</a></li>
                    <li><a class="dropdown-item" href={{ url_for('projects.kangaroos') }}>Kangaroos</a></li>
                    <li><a class="dropdown-item" href={{ url_for('projects.walruses') }}>Walruses</a></li>
                    <li><a class="dropdown-item" href={{ url_for('projects.hawkers') }}>Hawkers</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
