{% extends "layouts/base.html" %}
<!-- Custom block for standardizing Project Data-->

{% block style %}
    :root{
        --white: whitesmoke;
        --black: black;
        --grey: grey;
    }

    html, body{
        margin: 0;
        height: 100%;
        animation: fadein 2s;
        -moz-animation: fadein 2s; /* Firefox */
        -webkit-animation: fadein 2s; /* Safari and Chrome */
        -o-animation: fadein 2s; /* Opera */
        background-color: var(--grey);
        color: var(--white);
    }

    .dark-mode {
        background-color: var(--white);
        color: var(--black);
    }

    h1{
        font-size: 5em;
    }

    a {
        color: midnightblue;
    }

    .fa{
        font-size: 3em;
        letter-spacing: 1em;
        transition: all .2s;
        color: white;
    }

    .fa:hover{
        transform: translateY(10px);
    }

    .fa-youtube-play:hover{
        color: #cc0000;
    }

    .fa-twitter:hover{
        color: #1da1f2;
    }

    .fa-github:hover{
        color: #000000;
    }

    .btn:link,
    .btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: absolute;
        color: white;
        font-size: 2.5em;
    }

    .btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 20px 40px rgba(255, 255, 255, 0.2);
    }

    .btn:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
    }

    .row{
        margin: auto;
    }
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-end" style="padding: 2%;">
        <div class="col-2" style="text-align: right;">
            {% block info %}
                <!-- notice jinja style variables used in href's -->
                <a><h5>{{basename}}</h5></a>
                <a href={{github}} target="_blank"><i class="fa fa-github"></i></a>
                <a href={{youtube}} target="_blank"><i class="fa fa-youtube-play"></i></a>
                <a href={{twitter}} target="_blank"><i class="fa fa-twitter"></i></a>
            {% endblock %}
        </div>
    </div>

    <div class="product" style="margin-top: 2%;">
        <div class="row" style="padding: 10%; padding-top: 0%; padding-bottom: 5%;">

            <div class="col-8" >
                <h1>{{ project }} Project</h1>
            </div>

        </div>

        <div class="row" style="padding-left: 10%;">
            <div class="col-3">
                <a href="{{ overview }}" class="btn">Overview</a>
            </div>
        
            <div class="col-3">
                <a href="{{ scrumboard }}" class="btn">Scrum Board</a>
            </div>
        
            <div class="col-3">
                <a href="{{ repo }}" class="btn">Repository</a>
            </div>
        
            <div class="col-3">
                <a href="{{ authors }}" class="btn">Authors</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}
