<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <table id="demo" class="table">
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Color</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ford</td>
                    <td>Mustang</td>
                    <td>2022</td>
                    <td>Red</td>
                    <td>$35,000</td>
                </tr>
                <tr>
                    <td>Toyota</td>
                    <td>Camry</td>
                    <td>2022</td>
                    <td>Silver</td>
                    <td>$25,000</td>
                </tr>
                <tr>
                    <td>Tesla</td>
                    <td>Model S</td>
                    <td>2022</td>
                    <td>White</td>
                    <td>$80,000</td>
                </tr>
                <tr>
                    <td>Cadillac</td>
                    <td>Broughan</td>
                    <td>1969</td>
                    <td>Black</td>
                    <td>$10,000</td>
                </tr>
                <tr>
                    <td>Ford</td>
                    <td>F-350</td>
                    <td>1997</td>
                    <td>Green</td>
                    <td>$15,000</td>
                </tr>
                <tr>
                    <td>Ford</td>
                    <td>Excursionn</td>
                    <td>2003</td>
                    <td>Green</td>
                    <td>$25,000</td>
                </tr>
                <tr>
                    <td>Ford</td>
                    <td>Ranger</td>
                    <td>2012</td>
                    <td>Red</td>
                    <td>$8,000</td>
                </tr>
                <tr>
                    <td>Kuboto</td>
                    <td>L3301 Tractor</td>
                    <td>2015</td>
                    <td>Orange</td>
                    <td>$12,000</td>
                </tr>
                <tr>
                    <td>Ford</td>
                    <td>Fusion Energi</td>
                    <td>2015</td>
                    <td>Green</td>
                    <td>$15,000</td>
                </tr>
                <tr>
                    <td>Acura</td>
                    <td>XL</td>
                    <td>2006</td>
                    <td>Grey</td>
                    <td>$10,000</td>
                </tr>
                <tr>
                    <td>Ford</td>
                    <td>F150 Lightning</td>
                    <td>2023</td>
                    <td>Grey</td>
                    <td>$70,000</td>
                </tr>
            </tbody>
        </table>
        <script>
            $("#demo").DataTable();
        </script>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
